# The contents of the file /vscode-homepage-extension/vscode-homepage-extension/.vscodeignore

.vscode
node_modules
*.ts
*.map
*.test.ts
*.spec.ts
src/**/*.test.ts
src/**/*.spec.ts
src/types/**/*.ts
README.md
package.json
tsconfig.json
.vscodeignore